header {
    align-items: center;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-flow: row nowrap;
    height: 10vh;
}

header > div {

}

.header-logo {
    align-items: center;
    display: flex;
    flex-flow: row nowrap;
    font-family: 'Over the Rainbow', cursive;
    margin-left: 5px;
    min-width: 200px;
}

.app-logo-small {
    margin-right: 3px;
    width: 6vh;
}

.header-nav {
    flex-grow: 3;
}

.header-login {
    min-width: 125px;
}