header {
    align-items: center;
    border-bottom: 1px solid #fff;
    display: flex;
    flex-flow: row nowrap;
    height: 10vh;
}

header > div {
    flex: auto;
}

.header-logo {
    display: flex;
    flex-flow: row nowrap;
    margin-left: 5px;
}

.app-logo-small {
    margin-right: 3px;
    width: 6vh;
}