.form-style {
    font-size: 1.25rem;
    margin: 0 auto;
    text-align: left;
    width: 33%;
}

.form-style input {
    font-size: 1.25rem;
    margin-top: 3px;
    padding: 5px;
    width: 350px;
}

.form-style input[type="submit"] {
    background-color: #61dafb;
    width: 365px;
}