.form-reg {
    border: 1px solid orange;
    margin: 0 auto;
    max-width: 90%;
    text-align: left;
}

.input-fields-row {
    display: flex;
    flex-flow: row nowrap;
}

.input-fields-row > p {
    background-color: blueviolet;
    margin-left: 5px;
}