.form-reg {
    border: 0;
    margin: 0 auto;
    max-width: 75%;
    text-align: left;
}

.input-fields-row {
    border: 2px solid grey;
    display: flex;
    flex-flow: row wrap;
}

.input-fields-row > legend {
    font-size: 1.15rem;
    padding-left: 10px;
    padding-right: 10px;
}

.input-fields-row > p {
    margin-left: 10px;
}

.form-reg input[type="text"],
.form-reg input[type="tel"] {
    font-size: 1.125rem;
    padding: .25rem;
}

.form-reg select {
    font-size: 1.125rem;
    padding: .25rem;
}

.input-fields-row > p.length-175px,
.input-fields-row > p.length-175px {
    width: 175px;
}

#middle_name, #preferred_name {
    width: 95%;
}