.form-reg {
    border: 1px solid orange;
    margin: 0 auto;
    max-width: 75%;
    text-align: left;
}

.input-fields-row {
    display: flex;
    flex-flow: row wrap;
}

.input-fields-row > p {
    margin-left: 10px;
}