body {
  background-color: #282c34;
  color: #fff;
}

.app {
  border: 2px solid red;
  text-align: center;
}

.title {
  font-family: 'Over the Rainbow', cursive;
}

.brand-name {
  font-size: 3rem;
}